body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:258px;
  top:90px;
  width:345px;
  height:757px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:757px;
}
#u1 {
  position:absolute;
  left:2px;
  top:370px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:192px;
  top:921px;
  width:109px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:301px;
  top:912px;
  width:244px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:240px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:425px;
  top:818px;
  width:0px;
  height:80px;
}
#u6_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u7 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:185px;
  top:980px;
  width:109px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:301px;
  top:971px;
  width:244px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:240px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:519px;
  top:994px;
  width:210px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:224px;
  height:20px;
}
#u13 {
  position:absolute;
  left:55px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:745px;
  top:980px;
  width:109px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:854px;
  top:989px;
  width:140px;
  height:0px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u17 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:876px;
  top:960px;
  width:109px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
